.box {
  border: 1px solid #e5e9f2;
  border-radius: 5px;
  padding: 15px;
}
.box > div {
  display: flex;
  justify-content: space-between;
}
.box span {
  background: rgba(57, 209, 118, 0.2);
  border-radius: 5px;
  color: #39d176;
}
