.main {
  width: 85%;
  margin: 7rem auto 8rem auto;
  font-family: var(--sora);
}
.profile {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.picture {
  width: 66px;
  height: 66px;
}
.picture img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
.info {
  margin-left: 18px;
}
.info p:first-of-type {
  color: #777e96;
}
.info p:last-of-type {
  font-weight: bold;
}
.links > div:last-of-type p {
  color: #ef2a52;
}
