.box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.price {
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.subContainer svg {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background: #f9fafc;
  border-radius: 0px 0px 10px 10px;
}
.subContainer > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 20px;
}
.places {
  text-align: right;
}
.places p:first-of-type {
}
.places p:last-of-type {
  color: #787676;
  font-size: 12px;
}
