* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, button, input {
  font-family: var(--poppins);
}
:root {
  --sora: "Sora", sans-serif;
  --poppins: "Poppins", sans-serif;
}
h1 {
  font-family: var(--sora);
  font-weight: bolder;
  font-size: 34px;
  color: #222222;
}
a:link,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
label {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
}
.Toastify__toast-container {
  width: 85% !important;
  top: 10px !important;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
}
.active {
  color: #407bff !important;
}
.active svg path {
  fill: #407bff;
}
